<div class="container mt-5">
  <div class="row">
    <div class="col-md-6	offset-md-3">
      <span class="anchor" id="formLogin"></span>
      <div class="card	card-outline-secondary">
        <div class="card-header">
          <h3 class="mb-0">Whishlist</h3>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="nombre">Nombre del destino</label>
              <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre de su destino" #nombre>
            </div>
            <div class="form-group">
              <label for="estancia">Duracion de estancia</label>
              <input type="text" class="form-control" id="estancia" placeholder="Ingresar tiempo de estancia" #estancia>
            </div>
            <button type="button" class="btn	btn-primary" (click)="guardar(nombre.value, estancia.value)">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <hr class="mb-5">

  <div class="row">
    <div class="col-12">
      <ul class="list-unstyled">
        <li *ngFor="let destino of destinos">
          <app-destino-viaje [destino]="destino"></app-destino-viaje>
        </li>
      </ul>
    </div>
  </div>

</div>
